*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.home_body{
    /* ma-width: 1500px; */
    margin: 0 auto;
}
.home_body_image{
   width: 100%;
    mask-image: linear-gradient(to bottom,rgba(0,0,0,1),rgba(0,0,0,0));
    z-index: -1;
    margin-bottom: -150px;
}
.home_body_firstrow{
    display: flex;
}
.home_body_secondrow{
    display: flex;
    flex-direction: row;
}
li{
    list-style: none;
    font-weight: 500;
}
.footer{
    max-width: 400px;
    display: grid;
    place-items: center;
}
.footer-ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
 
}
@media (max-width:600px) {
   .home_body_secondrow{
    flex-direction: column;
} 
.footer{
    width: 200px;
    display: grid;
    place-items: center;
}
.footer-ul{
        grid-template-columns: 1fr;
            gap: 20px;
}
.home_body_firstrow{
    margin-top: 90px;
}
}
